@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 217, 0);
  padding: 20px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  li {
    padding-right: 10px;
    text-decoration: none;
    color: black;
  }
  .navbar-signUp {
    font-weight: 800;
  }
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

/* Recipes Page */
.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

/* Recipe */
.recipe-card {
  margin:10px;
  width:100px;
  height:100px;
  background-color:red;
}

/* Footer */
.footer {
  background-color: rgb(255, 217, 0);
  padding: 20px;
}
